@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Variables */
#second .advant-list, #gallery .gallery-list, #teachers .teachers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7492ec;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  border-radius: 55px;
  padding: 10px 25px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 100;
  color: #7492ec;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #7492ec;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
}

.wrapper {
  max-width: 1198px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-item {
  margin-left: 25px;
}

.menu .menu-item a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #99aade;
  text-decoration: none;
}

.menu .menu-item a:hover, .menu .menu-item a.active {
  color: #7492ec;
}

.menu .menu-item:last-child {
  margin-right: 25px;
}

#welcome {
  background: url(./../img/gray-bg.jpg) no-repeat;
  background-size: 100%;
  position: relative;
}

#welcome .wave {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
}

#welcome .woman {
  width: 52%;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}

.header {
  position: relative;
  width: 95%;
  margin: auto;
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-banner {
  padding: 10% 0 20% 0;
}

.welcome-banner .welcome-text p,
.welcome-banner .welcome-text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: right;
  font-size: 72px;
  color: #7492ec;
  line-height: 100px;
}

.welcome-banner .welcome-text h1 {
  margin-right: 70px;
}

#second {
  position: relative;
  background-color: #fff;
  padding: 75px 0 118px 0;
  z-index: 10;
}

#second .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#second .col-1,
#second .col-2 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

#second .col-1 {
  margin-right: 50px;
}

#second .col-2 {
  margin-top: -140px;
}

#second .video {
  margin-top: 45px;
}

#second .video img {
  max-width: 530px;
  border-radius: 10px;
}

#second .advant-list .advant-item {
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

#second .advant-list .advant-item .advant-img {
  width: 70px;
  height: 70px;
  margin-right: 24px;
}

#second .advant-list .advant-item .title {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

#second:after {
  content: "";
  position: absolute;
  right: 0;
  top: -90px;
  width: 662px;
  height: 850px;
  opacity: 0.1;
  background: url(../img/flower.png) no-repeat;
}

#classes {
  position: relative;
  background-color: #f1f3f8;
  padding-bottom: 100px;
  overflow: hidden;
}

#classes h2 {
  padding: 105px 0 50px 0;
  text-align: center;
}

#classes a {
  text-decoration: none;
}

#classes:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 135px;
  height: 112px;
  background: url(./../img/flower-title.png) no-repeat;
}

#classes:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 1161px;
  height: 694px;
  background: url(./../img/classes-bg.png) no-repeat;
}

.classes-wrapper {
  position: absolute;
  max-width: 1265px;
  margin: 0 auto;
  text-align: center;
  top: 44%;
  right: 0;
  left: 0;
}

.classes-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
}

.classes-slider .classes-slide {
  text-align: left;
  word-break: break-word;
}

.classes-slider .classes-slide .classes-img,
.classes-slider .classes-slide .classes-details {
  display: block;
  max-width: 300px;
  margin: auto;
}

.classes-slider .classes-slide .classes-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.classes-slider .classes-slide .classes-details {
  padding-left: 5px;
}

.classes-slider .details-list {
  margin: 15px 0;
  list-style: none;
}

.classes-slider .details-list .datails-item {
  color: #999999;
  line-height: 30px;
}

.classes-slider .details-list .datails-item .fa {
  margin-right: 10px;
  color: #7492ec;
}

.classes-wrapper .swiper-button-next:after,
.classes-wrapper .swiper-button-prev:after {
  display: none;
}

.classes-wrapper .classes-next-btn,
.classes-wrapper .classes-prev-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  color: #7492ec;
  font-size: 30px;
}

.classes-wrapper .classes-next-btn:focus,
.classes-wrapper .classes-prev-btn:focus {
  outline: none;
}

#gallery {
  padding: 124px 0;
  text-align: center;
}

#gallery .gallery-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #000;
}

#gallery .gallery-subtitle {
  color: #666666;
  font-size: 14px;
  line-height: 27px;
  margin: 20px auto 65px auto;
}

#gallery .btn a {
  padding: 10px 40px;
}

#gallery .gallery-list {
  padding-top: 90px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#gallery .gallery-list .gallery-item .gallery-image {
  display: block;
  max-width: 100%;
  height: 270px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .gallery-list .gallery-item.long-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

#blue {
  padding: 140px 0 103px 0;
  color: #fff;
  text-align: center;
  background-color: #7b92e1;
  background: url(../img/blue-bg.png) no-repeat;
  background-size: 100% 100%;
}

#blue .blue-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 300;
}

#blue .blue-subtitle {
  padding: 30px 0 60px 0;
  font-size: 14px;
  line-height: 27px;
}

#blue .meet-teacher {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#blue .meet-teacher .meet-btn {
  display: block;
  color: #fff;
  margin-top: 20px;
}

#blue .meet-teacher .meet-btn .fa {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

#teachers {
  padding: 120px 0 62px 0;
}

#teachers .teachers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#teachers .teachers-list .teachers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 58px;
}

#teachers .teachers-list .teachers-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

#teachers .teachers-list .teachers-item .name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

#teachers .teachers-list .teachers-item .func {
  font-size: 14px;
  color: #999999;
  line-height: 24px;
}

#series {
  padding: 235px 0 200px 0;
  background-color: #f8f7fc;
  position: relative;
}

#series .series-text {
  max-width: 480px;
  font-size: 21px;
  color: #8ea2dc;
  line-height: 36px;
  margin-bottom: 50px;
}

#series .btn a {
  padding: 10px 40px;
}

#series .series-woman {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 273px;
}

#footer {
  padding: 20px 0;
  background-color: #181818;
}

#footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-navigation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer .footer-navigation .menu-item a {
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

#footer .footer-navigation .menu-item a.active, #footer .footer-navigation .menu-item a:hover {
  color: #fff;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */